{% extends "base-with-navbar.html" %}
{% load static %}

{% block title %} Search {% endblock %}

{% block stylesheets %}
<link type="text/css" rel="stylesheet" href="{% static "forms.css" %}"/>
{% endblock %}

{% block body %}

    <div class="container">
        <div class="page-title">
            Search Document
        </div>
        <div class="form-container">
            <form method="post">
                {% csrf_token %}
                <div class="flexAlign form-input">
                    <label>{{ form.dossier.label }}</label>
                    {{ form.dossier }}
                </div>
                <div class="flexAlign form-input">
                    <label>{{ form.section.label }}</label>
                    {{ form.section }}
                </div>
                <div class="flexAlign form-input">
                    <label>{{ form.name.label }}</label>
                    {{ form.name }}
                </div>
                <div class="flexAlign form-input">
                    <label>{{ form.tags.label }}</label>
                    {{ form.tags }}
                </div>
                <div class="flexAlign form-input">
                    <label>{{ form.create_date.label }}</label>
                    {{ form.create_date }}
                </div>
                <div class="flexAlign form-input">
                    <label>{{ form.open_date.label }}</label>
                    {{ form.open_date }}
                </div>
                <div class="flexAlign form-input">
                    <input type="submit" value="Submit">
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        async function updateSections(obj) {
            dossier_list = document.getElementById('id_dossier');
            sections_list = document.getElementById('id_section');

            if (dossier_list.value === '')
                return;

            const response = await fetch(
                `/documents/dossiers/${dossier_list.value}/sections_json`,
                {method: 'GET'}
            );
            const sections = await response.json();

            // Remove all options
            for (let i=sections_list.options.length-1; i >= 0; i--) {
                sections_list.remove(i);
            }

            // Add default option 'All'
            option = document.createElement('option');
            option.value = '';
            option.innerText = 'All';
            sections_list.appendChild(option);

            // Add options received by request
            JSON.parse(sections.sections).forEach(s => {
                option = document.createElement('option');
                option.value = s.pk;
                option.innerText = s.fields.name;

                sections_list.appendChild(option);
            });
        }
    </script>
{% endblock %}
