@import url('/static/css/base/table-list.css');

.list-item .item-image {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.list-item .item-image img {
    margin: 0 5px;
    width: 40px;
    height: 40px;
}

.list-item .item-description {
    width: calc(100% - 50px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}