
html, body {
    margin: 0;
    padding: 0;
    font-family: Verdana, sans-serif;
    width: 100%;
    height: 100%;
}

.main-container {
    width: 100%;
    height: 100%;
}

.main-container .navbar-container {
    width: 250px;
    height: 100%;
    float: left;
    background-color: dimgray;
}

.navbar-container a {
    text-decoration: none;
}

.navbar-container .navbar-title {
    height: 120px !important;
    margin: 0 !important;
    font-size: 30px !important;
    color: white !important;
    background: transparent !important;
}

.navbar-container .navbar-item {
    width: 100%;
    height: 40px;
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: darkgray;
    transition: ease-in-out 100ms;
}

.navbar-container .navbar-item:hover {
    background-color: lightgray;
    cursor: pointer;
}

.main-container .page-container {
    width: calc(100% - 250px);
    height: 100%;
    float: left;
}