{% extends 'base-with-navbar.html' %}
{% load static %}

{% block title %} New Dossier {% endblock %}

{% block stylesheets %}
<link type="text/css" rel="stylesheet" href="{% static "css/dossiers/dossier-update.css" %}"/>
{% endblock %}

{% block body %}
     <div class="container">
         <div class="page-title">
             Update Dossier
         </div>
         <div class="form-container">
             <form method="post">
                 {% csrf_token %}
                 <div class="form-input">
                     <label>{{ form.name.label }}</label>
                     {{ form.name }}
                 </div>
                 <div class="form-input" id="submit">
                     <input class="submit" type="submit" value="Submit"/>
                 </div>
             </form>
         </div>
     </div>
{% endblock %}